body {
    background-color: #333;
}

main {
    display: grid;
    margin: 20vh auto;
    width: 80%;
    height: fit-content;
    max-height: initial;
}

a {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #BBB;
    text-shadow: 0 0 2px #000;
}